[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.2.13"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pillow = "*"
djangorestframework-jwt = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"


[dev-packages]

